body {
    background-color: black;
     font-family: sans-serif;
}
* { margin: 0;
    padding: 0;
      box-sizing: border-box;
}
@media (max-width: 1100px) {
    main {
        flex-direction: column; /* Conteúdo empilhado */
    }

    #conteudo {
        margin-right: 0; /* Remove margem direita */
    }

    aside {
        margin-top: 20px; /* Adiciona margem superior */
    }
    
}
@media (max-width: 550px) {
    header {
        padding: 10px;
    }

    main {
        padding: 10px;
    }

    article {
        padding: 10px;
    }

    aside {
        padding: 10px;
    }

    footer {
        padding: 5px;
    }
}
.header {
    width: 100%;
    height: 40px;
    background-color: black;
    display: flex;
    justify-content: space-between; 
    color: white;
    text-decoration: none;   
}
.logo1 {
    width: 90px;
    height: 40px;
}
#descobrir {
     transition: 0.4s;
}
#entrar {
    margin-right: 300px;
    margin-top: 10px;
    transition: 0.4s;
}
#quemsomos {
    margin-top: 10px;
    transition: 0.4s;
}
#produtos {
    margin-top: 10px;
    transition: 0.4s;
}
.descobrir a:hover {
   
    color: #2A44AE;
}
.descobrir {
    margin-top: 10px;
}
#produtos a:hover {
    color: #2A44AE;
}
#entrar a{
    color: #2A44AE;
}
#quemsomos:hover {
    color: #2A44AE;
}

a {
    
    color: white;
    text-decoration: none;
}
#carrinho {
    height: 40px;
    fill: white;
}
#lupa {
    height: 35px;
    margin-top: 5px;
background-color: white;
    position: relative;
   
}
.lupateste {
    width: 30px;
      vertical-align: middle;
}
.input1 {
    width: 0;
    transition: 0.5s;
    border: none;
}
.lupateste:hover { fill: #2A44AE;


}
svg:hover+input {
    width: 200px;
    border: solid 1px;
    border-radius: 10%;
}
.lupateste:focus {
    fill: #2A44AE;
    width: 200px;
    border: solid 1px;
      border-radius: 10%;
}
footer {
    background-color: white;
    width: 100%;
    height: 300px;
    display: flex;
}
.logo2 {
    width: 300px;
    height: 150px;
}
.somos2 {
    margin-left: 0px;
    font-weight: bold;
    font-size: 2em;
}
.flex2 {
    display: flex;
    flex-direction: column;
}
.empresa {
    font-size: 1.5em;
}
.instituto {
    font-size: 1.5em;
}
.franquias {
    font-size: 1.5em;
}
.desenvolvimento {
    font-size: 1.5em;
    margin-right: 150px;
}
.siga {
    margin-left: 0px;
    font-weight: bold;
    font-size: 2em;
}
.flex3 {
     display: flex;
    flex-direction: column;
}
.flex4 {
     display: flex;
    flex-direction: column;
}
.ing {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left: 150px;
}
.face {
    width: 30px;
    height: 30px;
    margin-left: 160px;
}
.twitter {
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-left: 162px;
}
.caixabranca {
 
    width: 20vh;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 77vh;
    color: #D4A817;
}
.entrar2 {
    font-size: 4em;
}
.caixa2 {
width: 20vh;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 77vh;
    color: #D4A817;
    transform: translateY(-100px);
}
.usuario {
    font-size: 1.5em;
}
.input2 {
    border-radius: 50px;
    width: 200px;
  
}
.caixa3 {
width: 20vh;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 77vh;
    color: #D4A817;
    transform: translateY(-200px);
}
.caixa4 {
    width: 20vh;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 77vh;
    color: #D4A817;
    transform: translateY(-300px);
}
.azao {
    color: #D4A817;
    text-decoration: underline;
}
.caixa5 {
    background-color: #D4A817;
    width: 20vh;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 77vh;
    color: white;
    transform: translateY(-250px);
}
.inpu1 {
     width: 0;
    transition: 0.5s;
    border: none;
    display: none;
}